.service {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
//  background-image: url(../img/term.jpg);
//  background-repeat: no-repeat;
//  background-position: right top;
//  background-size: cover;
  background-image: linear-gradient(to top, rgb(231,231,229) 0%, rgb(241,240,238) 49%, rgb(227,227,225) 100%);
}

.service__img {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.service__block {
  width: 340px;
  color: #686868;
  margin-left: 130px;
  position: relative;
  z-index: 1;
}

.service__title {
  padding-left: 130px;
  padding-bottom: 10px;
  text-align: left;
  position: relative;
  z-index: 1;
  
  &::after {
    content: "";
    position: absolute;
    left: 130px;
    bottom: 0;
    width: 70px;
    height: 1px;
    background-color: rgb(217, 217, 217);
  }
}

.service__list {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 10px;
  list-style-type: disc;
}

.service__item {
  margin-bottom: 9px;
}

.service__comment {
  display: block;
  max-width: 600px;
  margin-top: 30px;
  padding-left: 130px;
  font-size: 8px;
  line-height: 10px;
  color: rgba(183,183,183,0.7);
}

.service__text {
  margin-top: 20px;
}
