.slider {
  color: #fff;
  background-color: @blue-bg;
}

.slider__tab {
  width: 100%;
  margin-top: auto;
  display: none;
  
  &--active {
    display: block;
  }
}

.slider__item {
  width: 970px;
  height: 545px;
  position: relative;
  padding-left: 95px;
  padding-right: 40px;
  padding-top: 35px;
  box-sizing: border-box;
  
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
  background-size: 492px 500px;
  background-position: left bottom;
}

.slider__img {
  position: absolute;
  bottom: 0;
  right: -115px;
  height: 380px;
  width: 700px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 0;
  
  img {
    display: block;
    max-width: none;
  }
}

.slider__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 70px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.slider__block {
  max-width: 340px;
  position: relative;
  z-index: 10;
}

.slider__btn {
  width: 197px;
  height: 46px;
  margin-top: 45px;
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: ease-out 0.3s;
  cursor: pointer;
  
  &:hover,
  &:active {
    border-color: #fff;
    background-color: #fff;
    color: @blue;
    transition: ease-out 0.3s;
  }
}

.slider__thumb {
  font-size: 16px;
  font-weight: 600;
  color: #6fc7f3;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 42px;
  cursor: pointer;
  width: 33%;
  
  &:hover,
  &:active {
    color: #fff;
  }
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  width: 910px;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.gallery-thumbs .swiper-slide-active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.slider__label {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #6fc7f3;
  cursor: pointer;
  
  &:hover,
  &:active {
    color: #fff;
  }
}

.slider__form {
  pointer-events: all !important;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.slider__control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slider__radio {
  display: block;
  width: 150px;
  height: 25px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  opacity: 0;
}

.slider__tab {
  display: none;
  margin-top: auto;
  padding-bottom: 35px;
}

#tab-35:checked ~ .slider__control .slider__label--35,
#tab-34:checked ~ .slider__control .slider__label--34,
#tab-33:checked ~ .slider__control .slider__label--33,
#tab-32:checked ~ .slider__control .slider__label--32,
#tab-31:checked ~ .slider__control .slider__label--31,
#tab-25:checked ~ .slider__control .slider__label--25,
#tab-24:checked ~ .slider__control .slider__label--24,
#tab-23:checked ~ .slider__control .slider__label--23,
#tab-22:checked ~ .slider__control .slider__label--22,
#tab-21:checked ~ .slider__control .slider__label--21,
#tab-15:checked ~ .slider__control .slider__label--15,
#tab-14:checked ~ .slider__control .slider__label--14,
#tab-13:checked ~ .slider__control .slider__label--13,
#tab-12:checked ~ .slider__control .slider__label--12,
#tab-11:checked ~ .slider__control .slider__label--11 {
  color: #fff;
}

#tab-35:hover ~ .slider__control .slider__label--35,
#tab-34:hover ~ .slider__control .slider__label--34,
#tab-33:hover ~ .slider__control .slider__label--33,
#tab-32:hover ~ .slider__control .slider__label--32,
#tab-31:hover ~ .slider__control .slider__label--31,
#tab-25:hover ~ .slider__control .slider__label--25,
#tab-24:hover ~ .slider__control .slider__label--24,
#tab-23:hover ~ .slider__control .slider__label--23,
#tab-22:hover ~ .slider__control .slider__label--22,
#tab-21:hover ~ .slider__control .slider__label--21,
#tab-15:hover ~ .slider__control .slider__label--15,
#tab-14:hover ~ .slider__control .slider__label--14,
#tab-13:hover ~ .slider__control .slider__label--13,
#tab-12:hover ~ .slider__control .slider__label--12,
#tab-11:hover ~ .slider__control .slider__label--11 {
  color: #fff;
}

#tab-35:checked ~ .slider__tab--35,
#tab-34:checked ~ .slider__tab--34,
#tab-33:checked ~ .slider__tab--33,
#tab-32:checked ~ .slider__tab--32,
#tab-31:checked ~ .slider__tab--31,
#tab-25:checked ~ .slider__tab--25,
#tab-24:checked ~ .slider__tab--24,
#tab-23:checked ~ .slider__tab--23,
#tab-22:checked ~ .slider__tab--22,
#tab-21:checked ~ .slider__tab--21,
#tab-15:checked ~ .slider__tab--15,
#tab-14:checked ~ .slider__tab--14,
#tab-13:checked ~ .slider__tab--13,
#tab-12:checked ~ .slider__tab--12,
#tab-11:checked ~ .slider__tab--11 {
  display: block;
}